.containerHeader {
  background-color: #010203;
  display: flex;
  gap: 1%;
  padding: 1.5% 1.5% 1.5% 1.5%;
  align-items: center;
}

.nav {
  width: 70%;
  display: flex;
  gap: 4%;
  justify-content: space-around;
  align-items: center;
}

img {
  height: 110px;
}
